.card_body{
    width:333px;
    height: 425px;
    border-radius:12px;
    // border: 1px solid red;
    background: #ffff;
    padding: 1rem;
    ._img{
        width: 100%;
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 141px;
            height: 130px;
        }
    }
    .label{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        margin: 1rem 0;
        gap: 5px;
        div{
            padding: 5px 10px;
            background-color: #F2F4F7;
            border-radius: 8px;
            color: #074786;
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
        }
    }
    .card_title{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.1rem;
        div{
            color: #626E79;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
        }
    }
    .card_des{
        width: 284px;
        height: 48px;
        color:#626E79;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0.5rem;
    }
    .card_price{
        width: 100%;
        height: auto;
        display: flex;
        align-items: end;
        gap: 10px;
        margin-bottom: 0.6rem;
        .card_price1{
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            color:#5C6874;
        }
        .card_price2{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color:#9FA9B3;
        }
        .card_price3{
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            color:#EF4C5D;
        }
    }
    .card_btn{
        width: 100%;
        height: 48px;
        background:#1B88F4;
        border-radius: 12px;
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 1s ease-out;
        &:hover{
            background-color: #6fa8e2;
            color: black;
       
        }
    }
}