
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.Main{
    width: 67.5%;
    // border: 1px solid black;
    height: auto;
}
.Card_box{
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    align-items: center;
    justify-content: center;
}
.Title{
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #2C384A;
    margin: 1rem 0;
}
.Line{
    width: 100%;
    height: 1.33px;
    background: #E1E4E6;
}
.Info{
    width: 100%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .Info1{
        display: flex;
        gap: 1rem;
        div{
            display: flex;
            gap: 0.5rem;
            align-items: center;
            justify-content: center;
            img{
                width: 20px;
                height: 20px;
            }
            p{
                font-size: 14px;
                font-weight: 400;
                color: #4B5665;
            }
        }
    }
    .Info2{
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        p{
            font-size: 14px;
            font-weight: 400;
            color: #727D87;
        }
        
    }
}
.header{
    width: 100%;
    padding: 1rem 0;
    span{
        font-size: 2.5vw;
        font-weight: 400;
        color: #2C384A;
    }
}

// Sigup Components

.Signup{
    width: 100%;
    height: 171px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background: #000;
}
.signup_text{
    width: 398px;
    height: 88px;
    font-weight: 400;
    font-size: 32px;
    color: #5C6874;
}
.Signup_input_box{
    width: 445px;
    height: 52px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px ;
    input{
        width: 70%;
        height: 100%;
        border: none;
        background:none;
        outline: none;
    }
    
    .Sign_btn{
        width: 97px;
        height: 100%;
        background-color: #1B88F4;
        color: #ffff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 12px 12px 0;
    }
}

// Sigup Components
@media only screen and (max-width: 800px){
    .Main{
        width: 80%;
    }
    .Info{
        display: block;
        .Info1{
            display: block;
        }
    }
    .Signup{
        display: block;
        text-align: center;

    }
    .signup_text{
        font-size: 5vw;
        width: 100%;
        margin: 1rem;
    }
    .Signup_input_box{
        width: 100%;
        input{
            width: 80%;
        }
        .Sign_btn{
            width: 20%;
            font-size: 3vw;
        }
    }
}